# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular data science languages
- List commonly used data science libraries
- List data science environments
- Create headers, tables, and lists in markdown
- Perform arithmetic expressions in Jupyter

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas

| Data Science Tools |
|--------------------|
| JupyterLab |
| VS Code |
| Google Colaboratory |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Gina Kapadia